/* css styles */
/*body {
  background-color: lightgrey
}
*/

.card {
  background-color: white;
  color: rgb(90, 90, 90);
  margin-top: 2rem;
}

#quarto-content .container, 
#quarto-content .container-fluid {
  /* margin-bottom: 5rem;*/
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#quarto-content .container {
 /* padding: 0 5rem; */
}

.portrait {
  height: .4;
  width: auto;
}

/* Sets the marker to a ✔️ emoji character in cards*/
.card ul { list-style-type: "✔️  "; }

/* change button style */
.btn {
  margin-top: 2rem;
}