/* css styles */
/*body {
  background-color: lightgrey
}
*/

.card {
  background-color: rgb(245,245,245);
}

#quarto-content .container, 
#quarto-content .container-fluid {
  margin-bottom: 5rem;
}

#quarto-content .container {
  padding: 0 1rem;
}

.portrait {
  height: .4;
  width: auto;
}