/* css styles */
/*body {
  background-color: lightgrey
}
*/

.card {
  background-color: lightgrey;
}

#quarto-content .container, 
#quarto-content .container-fluid {
  margin-bottom: 5rem;
}

#quarto-content .container {
  padding: 0 1rem;
}